<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsitel.bazaar.game">

    <queries>
        <package android:name="com.farsitel.bazaar" />
    </queries>
    <uses-permission android:name="com.farsitel.bazaar.GAME_HUB_PERMISSION" />
</manifest>